/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilos Universais */
:root {
  --primary-font: Inter, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  --transition-duration1: 0.3s;
  --transition-duration2: 0.2s;
  --transition-effect1: all ease-in-out;
  --box-shadow1: 0 0 1em #00000013;
  --box-shadow2: 0 0 1em #00000023;
  --main-color: #F46A35;
  --secondary-color: #9BE7E2;
  --white: #FFFFFF;
  --black: var(--black);
  --color1: #F0EEEE;
  --color2: #F4F2F2;
  --color3: #B1C381;
  --color4: #3D3D40;
  --color5: #006919;
  --color6: #740000;
  --color7: #7F4FFF;
  --color8: #F87C7C;
  --color9: #FFEB24;
  --border1: solid 1px #ececec;
  --border2: solid 10px #ececec;
}

.tabs__buttons-list--cash-flow-page {
  color: var(--main-color);
}

/* SETTLEMENT BANK TABLE ####################################################################################################################### */
.banks-table-settlement-wrapper {
  max-height: 212px;
  overflow-y: auto;
  display: block;
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin-bottom: 15px;
}

.banks-table-settlement {
  margin: 0px auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.banks-table-settlement {
  max-height: 211px;
  overflow: scroll;
}

.banks-table-settlement thead tr th {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  font-weight: 700;
  z-index: 100;
}

.total-banks-balance-row td {
  font-weight: 700 !important;
}

.banks-table-settlement .total-banks-balance-row {
  position: sticky;
  bottom: 0;
  background-color: #f1f1f1;
}

.banks-table-settlement tr th {
  background-color: #f1f1f1;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  color: #202020;
}

.banks-table-settlement tr td {
  font-size: 13px;
  font-weight: 400;
}

.banks-table-settlement tbody tr {
  height: 30px;
  border-top: 1px solid #ececec;
  transition: 0.3s all ease;
}

.banks-table-settlement tr th,
.banks-table-settlement tr td {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.banks-table-settlement tr th:first-child {
  border-top-left-radius: 15px;
}

.banks-table-settlement tr th:last-child {
  border-top-right-radius: 15px;
}

.banks-table-settlement .total-banks-balance-row td:first-child {
  border-bottom-left-radius: 15px;
}

.banks-table-settlement .total-banks-balance-row td:last-child {
  border-bottom-right-radius: 15px;
}

.banks-table-settlement tr td:nth-child(1) {
  min-width: 70px;
  max-width: 70px;
}

.banks-table-settlement tr td:nth-child(2) {
  min-width: 400px;
  max-width: 400px;
}

.banks-table-settlement tr td:nth-child(3) {
  min-width: 200px;
  max-width: 200px;
}

.banks-table-settlement tr td:nth-child(4) {
  min-width: 150px;
  max-width: 150px;
}

.banks-table-settlement tr td:nth-child(5) {
  min-width: 150px;
  max-width: 150px;
}

/* CASH FLOW MODALS ############################################################################################################################ */
.modal-credits,
.modal-debits,
.modal-transferencias,
.modal-liquidacoes {
  width: 80%;
  margin: auto auto;
  padding: 2rem;
  background-color: var(--white);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
  transition: var(--transition-duration1);
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.box-grid-bancos-liquidacao {
  margin-bottom: 2rem;
}

.modal-transferencias {
  width: 40%;
}

.mesclar-2 {
  grid-column: span 2;
}

.modal-credits::backdrop,
.modal-debits::backdrop,
.modal-transferencias::backdrop {
  max-height: 100% !important;
}

.modal-titulo {
  margin-bottom: 1rem;
  font-size: 20px;
}

.modal-form-credits,
.modal-form-debits,
.modal-form-transferencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.selected-entries-list {
  max-height: 250px;
  overflow: auto;
}

.selected-entries {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr 0.8fr 0.40fr 0.3fr 0.1fr;
}

.modal-transferencias > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.modal-form-credits section,
.modal-form-debits section,
.modal-form-transferencias section {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

section.modal-flex {
  margin: 0px 5px;
}

.saldo-liquidacao {
  display: flex;
  flex-direction: column;
  margin: auto 0px auto auto;
}

.titulo-saldo-liquidacao {
  margin-left: auto;
}

.selected-entries-list-labels {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr 0.8fr 0.40fr 0.3fr 0.1fr;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.selected-entries-list-labels > label {
  margin: auto;
}

.selected-entries.ativo,
.selected-entries-list-labels.ativo {
  grid-template-columns: 0.4fr 0.6fr 0.8fr 0.40fr 0.3fr 0.1fr 0.4fr;
}

#recorrencia-section {
  width: 30% !important;
}

#parcelas-section-credits {
  width: 62.5% !important;
}

.installments-container {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.modal-tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab-link {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* Botão para lançamento parcial */
.modal-botao-parcial {
  display: flex;
  justify-content: left;
  align-items: center;
}

.form-switch {
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: rotate(-90deg); /* Adiciona a rotação de 90 graus */
  transform-origin: center; /* Define o ponto de origem da transformação */
}
.form-switch i {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
.form-switch input { display: none; }
.form-switch input:checked + i { background-color: var(--main-color); }
.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

.modal-flex > select,
.modal-flex > input {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

/* Estilo das Caixas de Seleções e Datas */
.modal-flex select,
.modal-flex input,
.modal-flex button {
  background-color: var(--color2);
  border: none;
  color: var(--black);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  outline: none;
  transition: var(--transition-effect1) .5s;
}

.dropdown-button {
  height: 100%;
}

.modal-flex select:hover,
.modal-flex select:focus,
.modal-flex input:hover,
.modal-flex input:focus,
.modal-flex button:hover,
.modal-flex button:focus {
  box-shadow: var(--box-shadow1);
}

/* Botões dos Modais */
.modal-botoes {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px 5px 0px 5px;
  gap: 1.5rem;
}

.modal-fechar-credits,
.modal-fechar-debits,
.modal-fechar-transferencias,
.modal-fechar-liquidacoes,
.modal-salvar {
  border: none;
  height: 45px;
  color: var(--white);
  font-weight: 700;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  transition: var(--transition-effect1) var(--transition-duration2);
}

.modal-fechar-credits:focus,
.modal-fechar-debits:focus,
.modal-fechar-transferencias:focus,
.modal-fechar-liquidacoes,:focus,
.modal-salvar:focus {
  outline: none;
}

.modal-fechar-credits:hover,
.modal-fechar-debits:hover,
.modal-fechar-transferencias:hover,
.modal-fechar-liquidacoes:hover {
  background-color: var(--color8);
  box-shadow: var(--box-shadow2);
}

.modal-fechar-credits,
.modal-fechar-debits,
.modal-fechar-transferencias,
.modal-fechar-liquidacoes {
  background-color: var(--color6);
}

.modal-salvar {
  background-color: var(--color5);
}

.modal-salvar:hover {
  background-color: var(--color3);
  box-shadow: var(--box-shadow2);
}

/* Tag Container */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.tag {
  background-color: var(--main-color);
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tag input {
  display: none;
  border: none;
  background: var(--main-color);
  color: var(--color4);
  font-weight: 700;
  width: auto;
}

.tag input:focus {
  display: none;
  border: none;
  background: var(--color2);
  color: var(--color4);
  font-weight: 700;
  width: auto;
}

input#tagInput {
  padding: 8px;
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  .box-grid,
  .box-grid-filters,
  .box-grid-bancos {
    display: grid;
    grid-template-columns: 1fr;
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 1rem;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .box-grid {
    background-color: none;
    box-shadow: none;
    padding: 0rem;
    margin: 0rem 1rem;
  }
  
  .box-grid-filters {
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow1);
  }

  .modal-credits,
  .modal-debits,
  .modal-transferencias {
    width: 100%; /* Ocupa toda a largura em dispositivos móveis */
  }

  .modal-transferencias > form,
  dialog > div > form {
    grid-template-columns: 1fr; /* Coloca todos os itens em uma única coluna */
  }

  .mesclar-2 {
    grid-column: 1 / -1; /* Faz com que ocupem toda a largura disponível da grid */
  }

  .modal-botoes {
    margin-top: 1rem;
  }
}