{% load static %}
{% load currency_filters %}
{% load number_filters %}
{% load add_decimal %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/realizado.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <title>Spifex | Realizado</title>
</head>
<body>
    <header class="header">
        <!-- ############### Barra de Navegação Fixa ############### -->
        <nav class="nav-bar">
            <a class="logo" href="{% url 'cash_flow:cash_flow' %}">Spifex</a>
            <ul class="nav-list">
                <li class="nav-fluxo-de-caixa"><a href="{% url 'cash_flow:cash_flow' %}">Fluxo de Caixa</a></li>
                <li class="nav-realizado"><a href="{% url 'realizado:realizado' %}">Realizado</a></li>
                <li class="nav-relatorios"><a href="#">Relatórios</a></li>
                <li class="nav-line"><div class="line"></div></li>
                <li class="nav-configuracoes"><a href="{% url 'configuracoes:configuracoes' %}">Configurações</a></li>
                <li class="nav-meu-perfil"><a href="meu-perfil.html">Meu Perfil</a></li>
            </ul>
        </nav>
    </header>
    <!-- ############### Metade Superior da Página ############### -->
    <main class="main">
        <div class="filter-boxes">
            <button class="toggle-filters-btn" onclick="toggleFilters()">Filtros</button>
            <!-- ############### Caixa com Filtros à Esquerda ############### -->
            <div class="box-grid">
                <form id="formulario-filtros" method="get">
                    <div class="box-grid-filters">
                        <!-- ############### Filtro Contas Contábeis ############### -->
                        <section class="flex">
                            <label for="dropdown-button-contas">Contas Contábeis</label>
                            <div class="dropdown-multiselect">
                                <button type="button" onclick="toggleDropdownFilters('dropdown-content-contas', event)" id="dropdown-button-contas" class="dropdown-button">Selecione</button>
                                <div id="dropdown-content-contas" class="dropdown-content">
                                    <div class="dropdown-header">
                                        <button class="button-selecionar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-contas', true)">Selecionar Todos</button>
                                        <button class="button-desmarcar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-contas', false)">Desmarcar Todos</button>
                                    </div>
                                    <div class="dropdown-options">
                                        {% for subgroup, accounts in Accounts_by_subgroup_list.items %}
                                            <div class="subgroup-label" data-nature="{{ accounts.0.nature }}">{{ subgroup }}</div>
                                            {% for account in accounts %}
                                                <label class="label-filters">
                                                    <input type="checkbox" name="contas" value="{{ account.uuid }}" class="conta-checkbox">
                                                    {{ account.account }}
                                                </label>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ############### Filtro Meses ############### -->
                        <section class="flex">
                            <label for="dropdown-button-meses">Meses</label>
                            <div class="dropdown-multiselect">
                                <button type="button" onclick="toggleDropdownFilters('dropdown-content-meses', event)" id="dropdown-button-meses" class="dropdown-button">Selecione</button>
                                <div id="dropdown-content-meses" class="dropdown-content">
                                    <div class="dropdown-header">
                                        <button class="button-selecionar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-meses', true)">Selecionar Todos</button>
                                        <button class="button-desmarcar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-meses', false)">Desmarcar Todos</button>
                                    </div>
                                    <div class="dropdown-options">
                                        {% for months in Months_list_settled %}
                                        <label class="label-filters">
                                            <input type="checkbox" name="meses" value="{{ months.formatted_date }}" class="mes-checkbox" data-start-of-month="{{ months.start_of_month|date:'Y-m-d' }}" data-end-of-month="{{ months.end_of_month|date:'Y-m-d' }}">
                                            {{ months.formatted_date }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ############### Filtro Bancos ############### -->
                        <section class="flex">
                            <label for="dropdown-button-bancos">Bancos</label>
                            <div class="dropdown-multiselect">
                                <button type="button" onclick="toggleDropdownFilters('dropdown-content-bancos', event)" id="dropdown-button-bancos" class="dropdown-button">Selecione</button>
                                <div id="dropdown-content-bancos" class="dropdown-content">
                                    <div class="dropdown-header">
                                        <button class="button-selecionar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-bancos', true)">Selecionar Todos</button>
                                        <button class="button-desmarcar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-bancos', false)">Desmarcar Todos</button>
                                    </div>
                                    <div class="dropdown-options">
                                        {% for banks_item in Banks_list %}
                                        <label class="label-filters">
                                            <input type="checkbox" name="bancos" value="{{ banks_item.id }}" class="banco-checkbox">
                                            {{ banks_item.banco }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ############### Filtro Data Início ############### -->
                        <section class="flex">
                            <label for="data-inicio">De</label>
                            <input class="data" type="date" id="data-inicio" name = "data_inicio">
                        </section>
                        <!-- ############### Filtro Data Fim ############### -->
                        <section class="flex">
                            <label for="data-fim">Até</label>
                            <input class="data" type="date" id="data-fim" name = "data_fim">
                        </section>
                        <!-- ############### Filtro transaction_type ############### -->
                        <section class="flex">
                            <label for="dropdown-button-transaction_type">Natureza</label>
                            <div class="dropdown-multiselect">
                                <button type="button" onclick="toggleDropdownFilters('dropdown-content-transaction_type', event)" id="dropdown-button-transaction_type" class="dropdown-button">Crédito, Débito</button>
                                <div id="dropdown-content-transaction_type" class="dropdown-content">
                                    <div class="dropdown-header">
                                        <button class="button-selecionar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-transaction_type', true)">Selecionar Todos</button>
                                        <button class="button-desmarcar-todos" type="button" onclick="toggleAllCheckboxes('#dropdown-content-transaction_type', false)">Desmarcar Todos</button>
                                    </div>
                                    <div class="dropdown-options">
                                        <label class="label-filters">
                                            <input type="checkbox" name="transaction_type" value="Crédito" class="transaction_type-checkbox">
                                            Crédito
                                        </label>
                                        <label class="label-filters">
                                            <input type="checkbox" name="transaction_type" value="Débito" class="transaction_type-checkbox">
                                            Débito
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ############### Filtro Caixa de Pesquisa ############### -->
                        <div class="pesquisa mesclar-2">
                            <input type="text" class="caixa-pesquisa" id="caixa-pesquisa" name ="caixa_pesquisa" placeholder="Pesquisar">
                        </div>
                        <div class="pesquisa-tags">
                            <input type="text" class="caixa-pesquisa-tags" id="caixa-pesquisa-tags"  name ="caixa_pesquisa_tags" placeholder="Tags">
                        </div>
                    </div>
                </form>
            </div>
            <!-- ############### Tabela de Bancos ############### -->
            <button class="toggle-banks-btn" onclick="toggleBanks()">Bancos</button>
            <div class="box-grid-bancos">
                <div class="conteudo-tabela-bancos">
                    <table class="tabela-bancos">
                        <thead class="cabecalho-bancos">
                            <tr class="linha-cabecalho-bancos">
                                <th class="bancos-bancos-col" scope="col">Banco</th>
                                <th class="ag-bancos-col" scope="col">Agência</th>
                                <th class="conta-bancos-col" scope="col">Conta</th>
                                <th class="saldo-bancos-col" scope="col">Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for banks_item in Banks_list %}
                            <tr class="row-bancos" data-banco-id="{{ banks_item.id }}" scope="row">
                                <td class="banco-row" name="banco">{{ banks_item.banco }}</td>
                                <td class="ag-row" name="agencia">{{ banks_item.agencia }}</td>
                                <td class="conta-row" name="conta">{{ banks_item.conta }}</td>
                                <td class="saldo-banco-row" name="saldo_inicial">{{ banks_item.saldo_inicial|add_decimal:banks_item.current_balance|format_number }}</td>
                            </tr>
                            {% endfor %}
                            <tr class="totais-row" scope="row">
                                <td class=""></td>
                                <td class=""></td>
                                <td class="total-row">Total</td>
                                <td class="saldo-total-banco-row" name="saldo-total-banco-row">{{ saldo_total_bancos|currency_br }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal realizado -->
        <dialog class="modal-realizado" id="modal-realizado">

            <h1 class="modal-titulo">Realizado</h1>
            
            <form class="modal-form-realizado" action="/realizado/" method="POST">{% csrf_token %}
                <input type="hidden" name="lancamento_id_realizado" value="{{ settled_table_item.id }}">
                <input type="hidden" name="uuid_realizado" value="{{ settled_table_item.uuid_correlation }}">
                <input type="hidden" name="uuid_parcelas_realizado" value="{{ settled_table_item.uuid_correlation_parcelas }}">
                <section class="modal-flex">
                    <label for="data-realizado">Data</label>
                    <input class="modal-data" id="data-realizado" type="date" name="due_date" required><br>
                </section>
            
                <section class="modal-flex">
                    <label for="description-realizado">Descrição</label>
                    <input class="modal-description" id="description-realizado" maxlength="100" type="text" name="description" required><br>
                </section>
            
                <section class="modal-flex">
                    <label for="observation-realizado">Observação</label>
                    <input class="modal-obs" id="observation-realizado" maxlength="100" type="text" name="observation"></input><br>
                </section>
                
                <section class="modal-flex">
                    <label for="amount-realizado">Valor</label>
                    <input class="modal-amount" id="amount-realizado" type="text" name="amount" required readonly><br>
                </section>
            
                <section class="modal-flex">
                    <label for="general-ledger-account-realizado">Conta Contábil</label>
                    <input class="modal-general-ledger-account" id="general-ledger-account-realizado" type="text" name="general_ledger_account" required readonly>
                    </input><br>
                </section>
            
                <section class="modal-flex" id="parcelas-section-realizado">
                    <label for="parcelas-realizado">Parcela</label>
                    <input class="modal-parcelas" id="parcelas-realizado" type="text" name="parcelas" current-installment="{{ settled_table_item.current_installment }}" total-installments="{{ settled_table_item.total_installments }}" min="1" value="1" readonly><br>
                </section>

                <section class="modal-flex mesclar-2">
                    <div id="tag-container-realizado" class="tag-container"></div>
                </section>
                <section class="modal-botoes">
                    <input type="submit" class="modal-salvar" name="salvar_realizado" value="Salvar">
                    <button type="button" class="modal-fechar-realizado">Cancelar</button>
                </section>
            </form>
        </dialog>

        <!-- ############### Tabela com Lançamentos ############### -->
        <div class="conteudo-tabela-lancamentos">
            <table class="tabela-lancamentos">
                <thead class="cabecalho-lancamentos">
                    <tr class="linha-cabecalho-lancamentos">
                        <th class="checkbox-col" scope="col"></th>
                        <th class="due_date-col" scope="col">Vencimento</th>
                        <th class="description-col" scope="col">Descrição</th>
                        <th class="obs-col" scope="col">Observação</th>
                        <th class="banco-col" scope="col">Banco</th>
                        <th class="parcela-col" scope="col">Parcela</th>
                        <th class="debito-col" scope="col">Débito</th>
                        <th class="credito-col" scope="col">Crédito</th>
                        <th class="saldo-col" scope="col">Saldo</th>
                    </tr>
                </thead>
                <tbody id="tabela-lancamentos">
                    {% for settled_table_item in Settled_table_list %}
                        {% if settled_table_item.is_total %}
                            <tr class="linha-total-mes">
                                <td></td>
                                <td colspan="5">Total do Mês {{ settled_table_item.data_liquidacao|date:"m/Y" }}</td>
                                <td class="debito-total-row">{{ settled_table_item.debito|format_number }}</td>
                                <td class="credito-total-row">{{ settled_table_item.credito|format_number }}</td>
                                <td class="saldo-total-row">{{ settled_table_item.saldo|format_number }}</td>
                            </tr>
                        {% else %}
                            <tr class="row-lancamentos" id="row-lancamentos" data-id-row="{{ settled_table_item.id }}" data-banco-liquidacao="{{ settled_table_item.banco_liquidacao }}" data-banco-id-liquidacao="{{ settled_table_item.banco_id_liquidacao }}" data-general-ledger-account="{{ settled_table_item.general_ledger_account }}" data-uuid-general-ledger-account="{{ settled_table_item.uuid_general_ledger_account }}" current-installment="{{ settled_table_item.current_installment }}" total-installments="{{ settled_table_item.total_installments }}" data-transaction-type="{{ settled_table_item.transaction_type }}" data-uuid-correlacao="{{ settled_table_item.uuid_correlation }}" data-uuid-correlacao-parcelas="{{ settled_table_item.uuid_correlation_parcelas }}" scope="row">
                                <td class="checkbox-row"><label class="checkbox-container"><input id="checkbox-personalizado-{{ settled_table_item.id }}" class="checkbox-personalizado" type="checkbox" data-id="{{ settled_table_item.id }}" data-uuid-correlacao="{{ settled_table_item.uuid_correlation }}" data-uuid-correlacao-parcelas="{{ settled_table_item.uuid_correlation_parcelas }}"><span class="checkmark"></span></label></td>
                                <td class="due_date-row">{{ settled_table_item.data_liquidacao|date:"d/m/Y" }}</td>
                                <td class="description-row">{{ settled_table_item.description }}</td>
                                <td class="observation-row">
                                    {{ settled_table_item.observation }}
                                    <small class="d-block">Tags: {{ settled_table_item.tags }}</small>
                                </td>
                                <td class="banco-row">{{ settled_table_item.banco_liquidacao }}</td>
                                <td class="parcela-row">{{ settled_table_item.current_installment }}/{{ settled_table_item.total_installments }}</td>
                                <input type="hidden" id="total-installments-originais-recebimentos" name="total_installments_originais">
                                <input type="hidden" id="total-installments-originais-pagamentos" name="total_installments_originais">
                                {% if settled_table_item.transaction_type == 'Débito' %}
                                    <td class="debito-row">{{ settled_table_item.amount|format_number }}</td>
                                    <td class="credito-row"></td>
                                {% else %}
                                    <td class="debito-row"></td>
                                    <td class="credito-row">{{ settled_table_item.amount|format_number }}</td>
                                {% endif %}
                                <td class="saldo-row" id = "saldo-row">{{ settled_table_item.saldo|format_number }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- ############### Botões da Checkbox ############### -->
        <div class="botoes-acoes">
            <!-- ############### Botão de Liquidar ############### -->
            <div class="btn-areas-realizado">
                <div class="btn-coluna">
                    <label for="retornar-button">Retornar</label>
                    <button class="btn-acoes retornar-button" id="retornar-button">
                        <svg version="1.1" id="ios7_x5F_arrows_1_" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128" xml:space="preserve" class="retornar"><g id="_x32_2_1_"><path d="M70.7 7.1C45 7.1 23.2 24 16 47.2L7.2 14.5 1.5 16l12.1 44.8h.1l45.1-12-1.5-5.6-37 9.8c5-23 25.7-40.3 50.3-40.3 28.5 0 51.5 22.9 51.5 51.2 0 28.3-23.1 51.2-51.5 51.2-17.6 0-33.1-8.8-42.4-22.1-.3-.4-.9-1.3-.9-1.3l-5.6 1.8s.5.8.8 1.3c10.2 15.7 27.9 26.1 48.2 26.1 31.6 0 57.3-25.5 57.3-56.9-.1-31.4-25.7-56.9-57.3-56.9z" id="icon_17_"/></g></svg>
                    </button>
                </div>
                <!-- ############### Botão de Cancelar ############### -->
                <div class="btn-coluna">
                    <label for="cancelar-button">Cancelar</label>
                    <button class="btn-acoes cancelar-button" id="cancelar-button">
                        <svg class="x-svg" fill="#000000" height="800px" width="800px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 460.775 460.775" xml:space="preserve"><path d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55 c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55 c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505 c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55 l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719 c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z"/>
                        </svg>
                    </button>
            </div>
        </div>
    </main>
    <script src="{% static 'scripts/scripts_realizado.js' %}"></script>
</body>
</html>