{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/chart_of_accounts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
        <title>Spifex | Plano de Contas</title>
    </head>
<body>
    <header class="header">
        <!-- ############### Barra de Navegação Fixa ############### -->
        <nav class="nav-bar">
            <a class="logo" href="{% url 'cash_flow:cash_flow' %}">Spifex</a>
            <ul class="nav-list">
                <li class="nav__item nav__item--cash-flow"><a href="{% url 'cash_flow:cash_flow' %}">Fluxo de Caixa</a></li>
                <li class="nav__item nav__item--settled"><a href="{% url 'settled_entry:settled_entry' %}">Realizado</a></li>
                <li class="nav__item nav__item--reports"><a href="#">Relatórios</a></li>
                <li class="nav__item nav__item--line"><div class="line"></div></li>
                <li class="nav__item nav__item--settings"><a href="{% url 'settings:settings' %}">Configurações</a></li>
                <li class="nav__item nav__item--my-profile"><a href="meu-perfil.html">Meu Perfil</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="content-container">
            <section class="container-button-back">
                <a href="{% url 'settings:settings' %}"><input type="button" class="button-back" name="button-back" value="Voltar"></a>
            </section>
            <div id="report-container" class="report-container">
                {% for group, items in chart_of_accounts|groupby:"group" %}
                    <button class="collapsible" style="max-height: none;">{{ group }}</button>
                    <div class="content" style="max-height: none; display: block;">
                        {% for sub_group, sub_items in items|groupby:"subgroup" %}
                            <button class="collapsible sub-collapsible" style="max-height: none;">{{ sub_group }}</button>
                            <div class="content sub-content" style="max-height: none; display: block;">
                                <ul>
                                    {% for item in sub_items %}
                                    <li id="account" class="account">
                                        {{ item.account }}
                                    <a href="{% url 'chart_of_accounts:edit_account' item.id %}" class="edit-account-btn"
                                       data-nature="{{ item.nature }}"
                                       data-group="{{ item.group }}"
                                       data-subgroup="{{ item.subgroup }}"
                                       data-account="{{ item.account }}"
                                       data-uuid="{{ item.uuid }}">Editar</a>
                                    </li>
                                    {% endfor %}
                                    <li><a href="{% url 'chart_of_accounts:adicionar_conta' %}" class=" add-account-btn">Adicione uma conta</a></li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <form id="input-excel" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Atualizar</button>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </main>
    <script src="{% static 'scripts/chart_of_account.js' %}"></script>
</body>
</html>
